.project {

  .ttl-txt{
    font-weight: bolder;
    font-size: 23px;
  }

  .dsc-prj {
    margin-top: 60px;
  }
  .und-line {
    border: solid rgb(17, 20, 203) 3px;
    margin: -6px 200px 0px 1px;
    text-align: left;
  }
}